[submodule "reference/FBNet"]
	path = reference/FBNet
	url = https://github.com/facebookresearch/mobile-vision.git

[submodule "reference/HW-NAS-Bench"]
	path = reference/HW-NAS-Bench
	url = https://github.com/GATECH-EIC/HW-NAS-Bench.git

[submodule "reference/ProxylessNAS"]
	path = reference/ProxylessNAS
	url = https://github.com/MIT-HAN-LAB/ProxylessNAS.git

[submodule "reference/TinyTNAS"]
	path = reference/TinyTNAS
	url = https://github.com/BidyutSaha/TinyTNAS.git
[submodule "reference/HW-PR-NAS"]
	path = reference/HW-PR-NAS
	url = https://github.com/IHIaadj/HW-PR-NAS.git
[submodule "reference/HARP"]
	path = reference/HARP
	url = https://github.com/UCLA-VAST/HARP.git
[submodule "reference/ESDA"]
	path = reference/ESDA
	url = https://github.com/CASR-HKU/ESDA.git
