create_clock -period {{CLOCK_PERIOD_NS}} [get_ports {{CLOCK_CREATE_PORT}}]

{{CLOCK_PIN_CONSTRAINTS}}
{{RESET_PIN_CONSTRAINT}}
{{UART_RX_PIN_CONSTRAINT}}
{{UART_TX_PIN_CONSTRAINT}}
{{LED_PIN_CONSTRAINTS}}
